.ad-logo{
	color: #ff4b13;
	font-weight: bold;
	font-family: cursive;
}

.ad-desc{
    font-family: cursive;
    font-size:  14px;
    color: #0071cc;
}

.blinking{
	animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
	0%{		color: #ff4b13;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #ff4b13;	}
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.Ncontainer {
  text-align:center;
  background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color:#555;
  font-family:'Roboto';
  font-weight:300;
  font-size:32px;
  padding-top:10%;
  width:100%;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

@media only screen  and (height: 90px){
	.Ncontainer{
		height: 90px;
	}
}
@media only screen  and (height: 125px){
	.Ncontainer{
		height: 125px;
	}
}

.Ndiv-inline{
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.Ntext1 {    
  animation: showup 7s infinite;
}

.Ntext2 {
  width:0px;
  animation: reveal 7s infinite;
}

.Ntext2 span {
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-500px; }
    20% { margin-left:-500px; }
    35% { margin-left:0%; }
    100% { margin-left:0%; }
}

@keyframes reveal {
    0% {opacity:0;width:0%;}
    20% {opacity:1;width:0%;}
    30% {width:15%;}
    80% {opacity:1;}
    100% {opacity:0;width:15%;}
}


.Ntext3 {
  font-size:14px;
  color:#999;
  margin-top:10%;
 
}